@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.dropdown-container {
  @apply absolute left-0 w-36 origin-top-right px-5 py-4 mt-5 border border-black border-t-0;
}

.footer-list-title {
  @apply uppercase text-sm font-semibold mb-2;
}

.footer-list-item {
  @apply uppercase text-xs pb-1;
}
