@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.dropdown-container {
  @apply absolute left-0 w-36 origin-top-right py-4 mt-5 border border-black bg-white;
}

.dropdown-item {
  @apply block py-2 px-5 hover:underline underline-offset-4;
}

.dropdown-link {
  @apply hover:border-b border-black;
}

.footer-list-title {
  @apply uppercase text-sm font-semibold mb-2;
}

.footer-list-item {
  @apply uppercase text-xs pb-1;
}

.on-image-text {
  @apply absolute text-3xl uppercase text-white font-semibold top-1/2 left-1/2 translate-x-neg-1/2 translate-y-neg-1/2 content-center text-center;
}

.default-button {
  @apply uppercase text-gray-500 text-xs hover:underline underline-offset-4;
}
